<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>教师终端</title>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="/day-day-up/vendor/layui/src/css/layui.css">
  <style>
    .test-tr td,
    .test-th {
      height: 50px;
      width: 170px;
    }


    .test-tr:nth-child(2n) {
      background-color: #e8ece8;
    }

    .test-tr:hover {
      background-color: #c2d2d1;
    }

    .checked {
      font-size: 30px;
      color: #042c6b;
    }
  </style>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    {include file="father/header" /}
    {include file="father/left" /}

    <div class="layui-body" style="padding:10px;">
      <!-- 内容主体区域 -->
      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
          <form action="delete" method="POST">
          <button class="layui-btn my-delete-btn" type="submit" value="{$couId}" name="Id" style="float:right;">删除测试</button>
        </form>
        </fieldset>
      <table class="layui-table">
        <colgroup>
          <col width="150">
          <col width="200">
          <col width="200">
          <col width="100">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>测试名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>完成状态</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {volist name="tests" id="test" empty=""}
          <tr>
            <td >
              {$test.name}
         
              </td>
            <td>{$test.startTime}</a></td>
            <td>{$test.endTime}</a></td>
            <td class="status">{$test.status}</td>
            
            <td><a href="{:url('Test/index')}?id={$test.Id}">查看测试</a></td>
            <td style="display:none;">{$test.Id}</td>
           
          </tr>

          {/volist}
        </tbody>
      </table>
    </div>

    {include file="father/footer" /}
  </div>
  <script src="/day-day-up/vendor/layui/src/layui.js"></script>
  <script>
    $(function(){

      $(".status").each(function(){
        if($(this).text()=="未完成")
        {
          var id=$(this).next().next().text();
          $(this).next().find("a").attr("href","{:url('Test/editortest')}?id="+id);
        }
      })
     
     
    })
    //JavaScript代码区域
    layui.use('element', function () {
      var element = layui.element;

    });
  </script>
</body>

</html>