<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>考试反馈</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/day-day-up/vendor/layui/dist/css/layui.css" media="all">
</head>

<body>
        <div style="padding-left:10px;">
    <h1>{$name} 结束,你的分数为: {$score}</h1>
   
    {volist name="details" id="detail" empty=""}
        <h3>问题 ： {$detail.content}</h3>
        
        <h4 style="color:red;"> 你的答案：<?php echo $detail["answerContent"]>0?"":$detail["answer"][0]; ?></h4>
        <h4 style="color:red;">  <?php echo $detail["thisScore"]>0?"":$detail["answer"][0]; ?></h4>
        <p style="color:red;">{$detail.thisScore}</p>
      
    {/volist}
</div>
</body>

</html>
