<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>教师终端</title>

  <link rel="stylesheet" href="/vendor/layui/src/css/layui.css">
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    {include file="father/header" /}
    {include file="father/left" /}

    <div class="layui-body">

      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>表单集合演示</legend>
      </fieldset>

      <form class="layui-form" action="" method="POST">
        <div class="layui-form-item">
          <label class="layui-form-label">测试名称</label>
          <div class="layui-input-block">
            <input type="text" style="width:300px" name="name" lay-verify="name" autocomplete="off" placeholder="请输入测试名称"
              class="layui-input">
          </div>
        </div>


        <div class="layui-form-item">

          <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
              <input type="text" name="startTime" id="startdate" lay-verify="startdate" placeholder="yyyy-MM-dd hh:mm:ss"
                autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
              <input type="text" name="endTime" id="enddate" lay-verify="enddate" placeholder="yyyy-MM-dd hh:mm:ss"
                autocomplete="off" class="layui-input">
            </div>
          </div>
        </div>


        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">选择课程</label>
            <div class="layui-input-inline">
              <select name="courseId" lay-verify="required" lay-search="">
                {volist name="courses" id="cou" empty=""}
                <option value={$cou.Id}>{$cou.name}</option>

                {/volist}


              </select>
            </div>
          </div>
        </div>

        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">添加测试</button>
          </div>
        </div>
      </form>

      <div style="padding: 15px;">

      </div>
    </div>
    {include file="father/footer" /}


  </div>
  <script src="/vendor/layui/src/layui.js"></script>
  <script>
    layui.use(['form', 'layedit', 'laydate'], function () {
      var form = layui.form,
        layer = layui.layer,
        layedit = layui.layedit,
        laydate = layui.laydate;

      //日期
      laydate.render({
        elem: '#startdate',
        type: 'datetime'
      });
      laydate.render({
        elem: '#enddate',
        type: 'datetime'
      });
      var starttime;
      //自定义验证规则
      form.verify({
      
        name: function (value) {
          if (value.length < 1) {
            return '测试名至少1个字符';
          } else if (value.length > 100) {
            return '测试名最多40个字符';
          }
        },
        startdate: function (value) {
          if(value.length<8)
          {
            return '请选择正确的开始时间';
          }
          starttime=value;
        },
        enddate:function(value){
          if(value.length<8)
          {
            return '请选择正确的结束时间';
          }
          if(starttime>value)
          {
            return '请确定开始时间早于结束时间';
          }
        },
        required:function(value){
          if(value==null)
          {
            return '请确定课程时间';
          }
        }
      });


    });
    //JavaScript代码区域
    layui.use('element', function () {
      var element = layui.element;
    });
  </script>
</body>

</html>