<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>教师终端</title>

    <link rel="stylesheet" href="/day-day-up/vendor/layui/src/css/layui.css">
    <style>
        .test-message {
            margin: 20px;
        }
    </style>
</head>

<body class="layui-layout-body" style=" background-color: #F2F2F2;">
    <div class="layui-layout layui-layout-admin">
        {include file="father/header" /} {include file="father/left" /}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="">
                        <div class="layui-card">
                            <div class="test-message">
                                <h1>{$test.name}</h1>
                                <a href="{:url('Test/index')}?id={$test.Id}">修改测试</a>
                                <p>开始时间：{$test.startTime}</p>
                                <p>结束时间：{$test.endTime}</p>
                            </div>
                            {volist name="test_question" id="question" empty=""}
                            <div class="layui-card-body question_content">
                                <div class="">{$question.num} .{$question.content}</div>
                                <div class="layui-hide type">{$question.type}</div>
                                <div class="options">
                                    {volist name="question.option" id="option" empty=""}
                                    <input type="radio" name={$question.num} value="男" title="男" checked="">{$option}
                                    <br/> {/volist}

                                </div>
                                <div class="textbox">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入答案" class="layui-input">
                                </div>
                            </div>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
            {include file="father/footer" /}


        </div>
        <script src="/day-day-up/vendor/layui/src/layui.js"></script>
        <script src="/day-day-up/public/static/js/jquery-1.11.1.js"></script>
        <script>
            //JavaScript代码区域
            layui.use('element', function () {
                var element = layui.element;
            });
            $(function () {
                $(".question_content").each(function () {
                    var type = $(this).children(".type").text();
                    if (type.trim() == 3) {
                        $(this).children(".textbox").html("");
                    }
                    else {
                        $(this).children(".options").html("");
                       
                    }
                });

            })
        </script>
</body>

</html>