<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>教师终端</title>

  <link rel="stylesheet" href="/day-day-up/vendor/layui/src/css/layui.css">
  <style>
    .test-tr td,.test-th {
        height: 50px;
        width: 170px;
    }


    .test-tr:nth-child(2n) {
        background-color: #e8ece8;
    }

    .test-tr:hover {
        background-color: #c2d2d1;
    }

    .checked {
        font-size: 30px;
        color: #042c6b;
    }
  </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  {include file="father/header" /}
  {include file="father/left" /}
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;width: 500px;">
      <table class="test-table">
        <tr class="test-th">
            <th>测试名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            
        </tr>
        <tr class="test-tr">
            <td>{$test.name}</td>
            <td>{$test.startTime}</a></td>
            <td>{$test.endTime}</a></td>
        </tr>
      </table>
      <table>
          <tr>
              <th>题号</th>
              <th>问题</th>
          </tr>
      {volist name="test_detail" id="detail" empty=""}
            <tr>
                <td>{$detail.Num}</td>
                <td>{$detail.content}</td>
            </tr>
      {/volist}
      </table>
    </div>
  
  </div>
  {include file="father/footer" /}
 
 
</div>
<script src="/day-day-up/vendor/layui/src/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>