<div class="my-viewquestion">
  <div class="layui-collapse" lay-filter="test">
    <!-- 已经添加的题目部分 -->
    {volist name="testdetail" id="detail"  empty=""}
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">
              <span style="width:80%;overflow: hidden;">{$detail.briefcontent}</span>
              <span style="float:right;color:red;">{$detail.questionScore}分</span>
            </h2>
            <div class="layui-colla-content">
              <h2>题目内容:{$detail.content}</h2>
              {volist name="detail.answer" id="answer"  empty=""}
              <p>
                 {$answer}
              </p>
              {/volist}
            </div>
          </div>
    {/volist}
    

    <!-- 添加新题目 -->
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">添加新题目</h2>
        <div class="layui-colla-content layui-show">
            {include file="test/onequestion" /}
        </div>
      </div>

  </div>

</div>

<script>
  layui.use(['element', 'layer'], function () {
    var element = layui.element;
    var layer = layui.layer;

    // //监听折叠
    // element.on('collapse(test)', function (data) {
    //   layer.msg('展开状态：' + data.show);
    // });
  });
</script>